# API Keys
GOOGLE_API_KEY=your_google_api_key
LANGCHAIN_API_KEY=your_langchain_api_key
PPLX_API_KEY=your_pplx_api_key

# Configurations
LANGCHAIN_TRACING_V2=true

# Service Settings
HOST=0.0.0.0
PORT=8000

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Weaviate
WEAVIATE_URL=http://weaviate:8080
